*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header nav{
    width: 100%;
    height: 83px;
    box-shadow: 0 0 5px black;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-left: 32px;
    display: flex;
}

nav .logo{
    display: block;
    position: absolute;
    left: 30px;
    padding-top: 10;
}

header nav .logo h1{
    font-family: cursive;   
}

header nav .logo p{
    font-size: 10px;
    font-family: cursive;
}

nav ul{
    list-style: none;
    display: flex;
    font-size: 15px;
    gap: 20px;
    position: absolute;
    left: 0;
    margin-left: 400px;
}

.button{
    position: absolute;
    right: 0;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    align-items: center;
}

.button button{
    width: 150px;
    height: 50px;
    background: rgb(0, 0, 89);
    color: white;
    border: none;
}

/* main */

main{
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 100%;
    text-align: center;
}

main .first-windows{
    width: 100%;
    height: 650px;
    display: flex;
}

main .first-windows .text{
    width: 600px;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    padding-top: 160px;
}

main .first-windows .text h1{
    font-family:initial;
    margin-bottom: 20px;
}

main .first-windows .text p{
    color: gray;
    font-size: 16px;
    margin-bottom: 20px;
}

main .first-windows .text .btn{
    display: flex;
    gap: 20px;
}

main .first-windows .text .btn .first-btn{
    width: 150px;
    height: 40px;
    border: none;
    background: orange;
    border-radius: 6px;
}

main .first-windows .text .btn .second-btn{
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    background: none;
}

main .first-windows .img{
    width: 550px;
    height: 654px;
    background: orange;
    position: absolute;
    right: 0;
}

main .first-windows .img img{
    width: 550px;
    height: 550px;
    position: absolute;
    right: 0;
    margin-left: -40%;
}

main .second-windows{
    margin-top: 100px;
    width: 100%;
    height: 300px;
}

main .second-windows .big-text{
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    padding-left: 500px;
}

main .second-windows .big-text h1{
    width: 500px;
}

main .second-windows .logo{
    display: flex;
}

main .second-windows .logo .rows{
    width: 150px;
    margin-left: 100px;
    margin-top: 80px;
}

main .second-windows .logo .row{
    width: 150px;
    margin-top: 80px;
    margin-left: 200px;
}

main .second-windows .logo .row img{
    width: 150px;
}

main .second-windows .logo .rows img{
    width: 150px;
}

main .third-windows{
    width: 1375px;
    height: 495px;
    background: rgb(0, 170, 170);
    margin: auto;
    align-items: center;
    position: relative;
    border-radius: 6px;
    margin-bottom: 40px;
}

main .third-windows img{
    width: 680px;
    height: 385px;
    position: absolute;
    left: 0;
    margin-top: 55px;
}

main .third-windows .text{
    width: 560px;
    height: 250px;
    margin-top: 115px;
    position: absolute;
    margin-left: 700px;
}

main .third-windows .text h1{
    margin-bottom: 50px;
}

main .fourth-windows{
    width: 1375px;
    height: 500px;
    background: blueviolet;
    margin: auto;
    align-items: center;
    position: relative;
    border-radius: 6px;
}

main .fourth-windows img{
    width: 562px;
    height: 410px;
    margin-top: 65px;
    left: 10px;
    position: absolute;
}

main .fourth-windows .text{
    width: 550px;
    height: 250px;
    margin-top: 115px;
    position: absolute;
    margin-left: 700px;
}

main .fourth-windows .text h1{
    margin-bottom: 50px;
}

main .fifth-windows{
    width: 1375px;
    height: 585px;
    background: none;
    margin: auto;
    position: relative;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

main .fifth-windows .white-back-text{
    background: whitesmoke;
    width: 570px;
    height: 585px;
    border-radius: 12px 0 0 12px;
    padding-top: 80px;
    padding-left: 80px;
}

main .fifth-windows .white-back-text p{
    position: absolute;
}

main .white-back-text h1{
    width: 450px;
    height: 65px;
    margin-top: 50px;
    text-align: left;
}

main .white-back-text .second-p{
    text-align: left;
    margin-top: 20px;
}

main .white-back-text button{
    width: 140px;
    height: 55px;
    background: none;
    border: 2px solid black;
    left: 0;
    position: absolute;
    margin-left: 80px;
    margin-top: 50px;
}

main .fifth-windows .yellow-back-text{
    width: 805px;
    height: 585px;
    background: orange;
    border-radius: 0 12px 12px 0;
    padding-top: 100px;
    padding-left: 80px;
    padding-right: 50px;
    position: relative;
}

main .fifth-windows .yellow-back-text h1{
    font-size: 30px;
    text-align: left;
}

main .fifth-windows .yellow-back-text .person{
    width: 562;
    height: 80;
    margin-top: 160px;
    align-items: center;
    justify-content: center;
    display: flex;
}

main .fifth-windows .yellow-back-text .person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    left: 80px;
}

main .fifth-windows .yellow-back-text .person .text h3{
    text-align: left;
    margin-bottom: 10px;
}

/* footer */

.footer{
    width: 100%;
    height: 420px;
    border-bottom: 2px solid gray;
    background: rgb(0, 0, 51);
    color: white;
    text-align: center;
    margin-top: 40px;
    padding-top: 50px;
    padding: 50px 415px;
}

.footer .h1{
    margin-bottom: 30px;
}

.footer button{
    width: 160px;
    height: 55px;
    color: black;
    border: none;
    border-radius: 6px;
    background: gold;
    margin-top: 30px;
}

footer{
    width: 100%;
    height: 500px;
    background: rgb(0,0,51);
    padding-top: 60px;
    padding-left: 50px;
    display: flex;
    gap: 100px;
}

footer img{
    width: 125px;
    height: 48px;
}

footer .footer-rows p{
    color: orange;
    margin-bottom: 10px;
}

footer .footer-rows ul{
    list-style: none;
    color: white;
}

footer .footer-rows ul li{
    margin-bottom: 10px;
}